################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VC/Asteroids/.vs/Asteroids/v17/Browse.VC.opendb
/.vs/IN2026_Coursework/v17/Browse.VC.opendb
